[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:VPradoB/nvim-config.git
[submodule ".config/sway"]
	path = .config/sway
	url = git@github.com:VPradoB/sway-config.git
[submodule ".config/waybar"]
	path = .config/waybar
	url = git@github.com:VPradoB/waybar.git
